<div class="archive">
{{ $prevYear := 0 }}
{{ range .Pages.ByPublishDate.Reverse }}
    {{ if ne $prevYear (.Date.Format "2006") }}
        <h2 class="archive-year">{{ .Date.Format "2006" }}</h2>
    {{ end }}
    <a class="post-list-item" href="{{ .RelPermalink }}">
        <span class="post-list-meta">
            {{- if not .Date.IsZero -}}
            {{ time.Format (default ":date_long" .Site.Params.DateFormat) .Date }}
            {{- end -}}
        </span>
        <span class="post-list-title">{{ .Title }}</span>
        {{ with .Description }}
        <span class="post-list-desc">{{ . }}</span>
        {{ end }}
    </a>
    {{ $prevYear = .Date.Format "2006" }}
{{ end }}
</div>
